body {
  background-color: #ebebeb;
  margin: 0;
  padding: 0;
}

.sec-two {
  text-align: center;
  font-size: 40px;
  color: #9e0505;
  text-transform: uppercase;
}


/* EMAIL FORM */
form {
  max-width: 40%;
  margin: 0 auto;
  /* height: 60vh; */
  margin-bottom: 10vh;
}
form > input, form > textarea{
  width: 100%;
  height: 25px;
  padding: 4px;
  font-size: 15px;
  font-weight: 400;
  outline: none;
  display: block;
  border: 1px solid rgb(201, 201, 201);
  color: rgb(57, 54, 54);
  margin: 4px;
}
form > textarea {
  min-height: 300px;
}
#sbmt-btn {
  width: 100px;
  height: 800px;
  height: 35px;
  padding: 8px 10px;
  font-size: 14px;
  font-weight: 500;
  outline: none;
  color: black;
  background-color: #d55858;
  border: 1px solid #d55858;
  text-transform: uppercase;
}
#sbmt-btn:hover {
  background-color: #df7070;
  color: rgb(26, 25, 25);
}
#center-btn {
  display: block;
  /* margin-top: 10px; */
  text-align: center;
}
/* EMAIL FORM */


/* FOOTER */
.footer {
  display: inline-block;
  background-color: black;
  width: 100%;
  height: 250px;
  padding: 0;
  margin: 0;
  /* margin-top: 40px; */
  text-align: center;
}
.footer > a {
  margin: 40px;
  text-decoration: none;
  color: rgb(206, 203, 203);
  font-size: 40px;
}
.footer > a:hover {
  color: white;
}
#ftr-txt {
  margin-top: 50px;
  font-size: 20;
  font-weight: 100;
  letter-spacing: 1px;
  color: rgb(120, 119, 119);
}
.footer-span-text {
  font-size: 20px;
}
/* FOOTER */




/* @media only screen and (max-width: 1355px) {
   @media (orientation: landscape) {
    .viewport {
     height: 24vh;
    }
    header {
      margin-bottom: 14vh;
      height: 25vh;
    }
    .footer {
      height: 43vh;
      text-align: center;
    }
    form {
      max-width: 40%;
      margin: 0 auto;
      height: 127vh;
    }
    .container {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-template-rows: repeat(225px);
    }
  }
} */
