body {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* NAVBAR */
.grid-container {
  display: grid;
  width: 40%;
  grid-template-columns: auto auto auto;
  padding: 10px;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -20%;
  /* height: 10vh; */
}
.grid-item {
  background-color: transparent;
  color: rgb(201, 198, 198);
  /* font-size: 20px; */
  font-size: 100%;
  text-align: center;
  padding-top: 15px;
  text-decoration: none;
  height: 10vh;
  font-family: 'Lato', sans-serif;
}
.phone {
  display: none;
}
.fa-bars {
  display: none;
}
.grid-item:hover {
  color: white;
}
.logo {
  /* font-size: 40px; */
  /* padding-top: 0;
  color: white;
  width: 100%;
  height: 10px; */

}
/* NAVBAR */


/* VIDEO HEADER */
.sec-one {
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 1;

  /* ADDED FOR NONE VIDEO HEADING */
  background-color: black;
}
header {
  margin: 0;
  padding: 0;
  width: 100%;
  /* height: 100vh;  ----- REMOVE FOR NONE VIDEO */

  /* ADDED FOR NONE VIDEO HEADING */
  /* height: 10vh; */
  height: 100px;
  margin-bottom: 5vh;
}
#header-vid {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 90vh;
}
/* VIDEO HEADER */


.viewport {
  /* height: 110vh; */
  /* width: 50vw;
  position: relative;
  border: 1px solid red;
  margin: 10% 25%; */
}
/*
iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
} */
