/* IMAGE GRID */
.sec-two {
  width: 90%;
  margin: 0 auto;
}
.container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* grid-auto-rows: 200px;
  grid-auto-columns: 200px; */
}
.img-thumnail {
  width: 100%;
  height: 25vh;
}
/* IMAGE GRID */


/* IMAGE HOVER OVERLAY */
.img-thumnail:hover {
  opacity: 0.5;
}
.title-div {
  position: relative;
  bottom: 100px;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(31, 32, 32);
}
a:hover .title-div {
  opacity: 1;
}
.title {
  color: rgb(12, 12, 12);
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/* IMAGE HOVER OVERLAY */



/* FOOTER */
.footer {
  background-color: black;
  width: 100%;
  height: 40vh;
  padding: 0;
  margin: 0;
  margin-top: 100px;
  text-align: center;
}
.footer > a {
  margin-top: 40px;
  text-decoration: none;
  color: rgb(206, 203, 203);
  font-size: 40px;
}
.footer > a:hover {
  color: white;
}
#ftr-txt {
  margin-top: 50px;
  font-size: 20;
  font-weight: 100;
  letter-spacing: 1px;
  color: rgb(120, 119, 119);
}
/* FOOTER */
