/* EMAIL FORM */
@media only screen and (max-width: 760px) {
  form {
    max-width: 80%;
  }
  .footer {
    /* height: 40vh; */
    text-align: left;
  }
  .footer > a {
    margin: 20px 40px;

  }


}

@media only screen and (min-width: 760px) {
  .footer {
    position: absolute;
    bottom: 0;
  }
}
/* EMAIL FORM */
