@media only screen and (max-width: 760px) {
  .viewport {
    /* height: 90vh; REMOVED FOR NONE VIDEO */

    /* ADDED FOR NONE VIDEO HEADING */
    height: 75px;
    width: 100%;
  }
  #header-vid {
    height: 80vh;
  }
  .grid-container {
    display: grid;
    width: 95%;
    grid-template-columns: auto;
    padding: 10px;
    z-index: 2;
    position: absolute;
    top: 80;
    left: 50%;
    margin-left: -50%;
  }
  .grid-item {
    display: none;
  }
  .logo {
    display: block;
    /* font-size: 5px; */
    height: 10px;
    width: 30%;
    text-align: center;
    margin: 0 auto;
  }
  #fa-bars {
    display: block;
    color: white;
    font-size: 30px;
    position: absolute;
    top: -40%;
    left: 5%;
  }
  .mobile-head-link {
    display: block;
    margin-top: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .mobile-head-link > a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    display: block;
    margin-top: 10px;
    font-family: 'PT Sans', sans-serif;
  }
  .mobile-ifram-header {
    padding-top: 100vh;
    color: black;
    background-color: black;
    opacity: 5;
  }
}



@media only screen and (max-width: 640px) {
   @media (orientation: landscape) {
     .viewport {
      /* height: 18vh; */
    }
  }
}

@media only screen and (max-width: 731px) {
   @media (orientation: landscape) {
     .viewport {
      /* height: 20vh; */
    }
  }
}
@media only screen and (max-width: 760px) {
   @media (orientation: landscape) {
     .viewport {
      /* height: 22vh; */
    }
  }
}

@media only screen and (max-width: 812px) {
   @media (orientation: landscape) {
     .viewport {
      /* height: 20vh; */
      font-size: 100%;
    }
  }
}


@media only screen and (max-width: 1366px) {

    .footer {
      /* height: 50vh; */
    }

}

@media only screen and (max-width: 1024px) {
   /* @media (orientation: landscape) { */
    .footer {
      /* height: 56vh; */
    }
  /* } */
}

@media only screen and (max-width: 830px) {
   @media (orientation: landscape) {
    .footer {
      /* height: 40vh; */
    }
  }
}

@media only screen and (max-width: 812px) {
   @media (orientation: landscape) {
    .footer {
      /* height: 30vh; */
      /* height: 55vh; */
    }
    .footer-span-text {
      font-size: 17px;
    }
  }
}


@media only screen and (max-width: 768px) {
  .footer {
    /* height: 50vh; */
    text-align: left;
  }
  .footer > a {
    margin: 20px 40px;
  }
}

@media only screen and (max-width: 768px) {
   /* @media (orientation: landscape) { */
    .footer {
      /* height: 40vh; */
      text-align: left;
      font-size: 0px;
    }
  /* } */
}

@media only screen and (max-width: 760px) {
   @media (orientation: landscape) {
    .footer {
      /* height: 50vh; */
      text-align: left;
    }
  }
}

@media only screen and (max-width: 568px) {
   @media (orientation: landscape) {
    .footer {
      /* height: 54vh; */
    }
  }
}




/*
 .grid-container {
      display: grid;
      width: 90%;
      grid-template-columns: auto;
      padding: 10px;
      z-index: 2;
      position: absolute;
      top: 80;
      left: 50%;
      margin-left: -50%;
    }
    .grid-item {
      display: none;
    }
    .logo {
      display: block;
      font-size: 25px;
    }
    #fa-bars {
      display: block;
      color: white;
      font-size: 30px;
      position: absolute;
      top: -40%;
      left: 5%;
    }
    .mobile-head-link {
      display: block;
      margin-top: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }
    .mobile-head-link > a {
      text-decoration: none;
      color: white;
      font-size: 30px;
      display: block;
      margin-top: 10px;
    }
    .mobile-ifram-header {
      padding-top: 100vh;
      color: black;
      background-color: black;
      opacity: 5;
    } */
