@media only screen and (max-width: 1355px) {
  .container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(225px);
  }
  .title {
      color: white;
      text-shadow: 2px 2px #1c1c1c;
      font-size: 15px;
      position: absolute;
      top: 60%;
      left: 50%;
      -webkit-transform: translate(-60, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
  }
}

@media only screen and (max-width: 1366px) {

    .footer {
      /* height: 50vh; */
    }

}

@media only screen and (max-width: 1024px) {
   /* @media (orientation: landscape) { */
    .footer {
      /* height: 56vh; */
    }
  /* } */
}

@media only screen and (max-width: 830px) {
   @media (orientation: landscape) {
    .footer {
      /* height: 40vh; */
    }
  }
}

@media only screen and (max-width: 812px) {
   @media (orientation: landscape) {
    .footer {
      /* height: 30vh; */
      /* height: 55vh; */
    }
    .footer-span-text {
      font-size: 17px;
    }
  }
}


@media only screen and (max-width: 768px) {
  .footer {
    /* height: 50vh; */
    text-align: left;
  }
  .footer > a {
    margin: 20px 40px;
  }
}

@media only screen and (max-width: 768px) {
   /* @media (orientation: landscape) { */
    .footer {
      /* height: 40vh; */
      text-align: left;
      font-size: 0px;
    }
  /* } */
}

@media only screen and (max-width: 760px) {
   @media (orientation: landscape) {
    .footer {
      /* height: 50vh; */
      text-align: left;
    }
  }
}

@media only screen and (max-width: 568px) {
   @media (orientation: landscape) {
    .footer {
      /* height: 54vh; */
    }
  }
}


/* @media only screen and (max-width: 658px) {
   @media (orientation: landscape) {
    .footer {
      height: 50vh;
    }
  }
} */







/*
@media only screen and (max-width: 900px) and (orientation: landscape) {
    .viewport {
     height: 21vh;
    }
    header {
      margin-bottom: 7vh;
    }
    .footer {
      height: 43vh;
      text-align: center;
    }
    .container {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-template-rows: repeat(225px);
    }
} */

